<kendo-treeview
         textField="moduleName"
         [nodes]="nodes"
         [children]="children"
         [hasChildren]="hasChildren"
     >
     <ng-template kendoTreeViewNodeTemplate let-dataItem>
            {{dataItem.moduleName || dataItem.featureName}}
        </ng-template>
     </kendo-treeview>
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<div class="progress">
    <div class="progress-bar bg-info" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="progress">
    <div class="progress-bar bg-info" role="progressbar" [style.width]="{{value}} + '%'" aria-valuenow="{{value}}" aria-valuemin="0" aria-valuemax="100"></div>
</div> -->
<!-- <p><ngb-progressbar type="success" [value]="15"></ngb-progressbar></p> -->
<!-- <div class="card">
  <p-table responsiveLayout="scroll" [value]="products">
      <ng-template pTemplate="caption">
          Scroll
      </ng-template>
      <ng-template pTemplate="header" let-columns>
          <tr>
              <th>Name </th>
              <th>Price</th>
              <th>Category</th>
              <th>Quantity</th>
              <th>Status</th>
              <th>Reviews</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product let-columns="columns">
          <tr>
              <td>{{product.name}}</td>
              <td>{{product.price | currency:'USD'}}</td>
              <td>{{product.category}}</td>
              <td>{{product.quantity}}</td>
              <td><span [class]="'product-badge status-' + (product.inventoryStatus ? product.inventoryStatus.toLowerCase() : '')">{{product.inventoryStatus}}</span>
              </td>
              <td>
                  <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
              </td>
          </tr>
      </ng-template>
  </p-table>
</div>

<div class="card">
  <p-table responsiveLayout="stack" [value]="products">
      <ng-template pTemplate="caption">
          Stack
      </ng-template>
      <ng-template pTemplate="header" let-columns>
          <tr>
              <th>Name</th>
              <th>Price</th>
              <th>Category</th>
              <th>Quantity</th>
              <th>Status</th>
              <th>Reviews</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product let-columns="columns">
          <tr>
              <td><span class="p-column-title">Name</span>{{product.name}}</td>
              <td><span class="p-column-title">Price</span>{{product.price | currency:'USD'}}</td>
              <td><span class="p-column-title">Category</span>{{product.category}}</td>
              <td><span class="p-column-title">Quantity</span>{{product.quantity}}</td>
              <td><span class="p-column-title">Status</span><span [class]="'product-badge status-' + (product.inventoryStatus ? product.inventoryStatus.toLowerCase() : '')">{{product.inventoryStatus}}</span>
              </td>
              <td><span class="p-column-title">Reviews</span>
                  <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
              </td>
          </tr>
      </ng-template>
  </p-table>
</div> -->